:root{
    --blue: #1f99d5;
    --red: #d0191f;
}

body{
	margin: 0;
    position: relative;
    width: 100vw;
    height: 100%;

    overflow-x: hidden;
}

.filler {
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
}

[data-scene] {
    max-width: 800px;
    margin: 10vh auto;
    font-family: sans-serif;
    font-size: 100px;
    color: #fff;
    text-align: center;
    /* background: linear-gradient(to top, rgb(252, 92, 125), rgb(106, 130, 251)); */
    border-radius: 5px;

    position: relative;
  }

  /* [data-scene]:first-child {
    background: linear-gradient(to bottom, rgb(168, 192, 255), rgb(63, 43, 150));
  }

  [data-scene]:last-child {
    margin-bottom: 50vh;
  } */

.app{
    width: 100vw;
}

.anatomy_model{
    width: 200px;
    height: 500px;

    position: relative;
}

.anatomy_model>img{
    width: 100%;
    height: 100%;
}

.mark{
    background-color: var(--blue);
    position: absolute;
    top: 10%;
    left: 10%;

    z-index: 10;

    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.marked{
    transform: translate(-15%, -15%);
    width: 40px;
    height: 40px;
    background-color: var(--red);
    position: absolute;
    
    z-index: 8 !important;

    scale: 1.1;
    transition: scale 0.2s ease-in-out;
}

.marked::before{
    content: '';
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    

    animation: pulsate 0.5s linear infinite alternate;
}
.marked::after{
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    border-radius: 50%;
    background-color: var(--red);
}

.anatomy_pin>.label_list{
    width: 50%;
    height: 50%;

    white-space: nowrap;
    
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: auto;
    
}

.label_list>.label{
    padding-left: 25px;
    height: 40px;

    font-size: 14px;

    display:flex;
    align-items: center;

    user-select: none;
    cursor: pointer;

    color: var(--blue);
    font-family: sans-serif;
    font-weight: bold;
}
.label_list>.carousel{
    display: none;
}

.anatomy_pin>.label_list>.marked_label{
    border-left: 7px solid var(--red);    
    color: var(--red);
}

.label_list::-webkit-scrollbar {
    display: none;
}

/* testing label */
.red{
    /* background-color: red; */
    border: 1px solid black;
}

@media (max-width: 768px){
    .background_triangle{
        display: none;
    }
}

@keyframes pulsate{
    0%{
        /* width: 50px;
        height: 50px;
        top: 0;
        left: 0; */
        outline: 2px solid white;
    }
    100%{
        /* width: 42px;
        height: 42px;
        top: 3.7px;
        left: 3.7px; */
        outline: 5px solid white;
    }
}