body{
	margin: 0;
    position: relative;
    height: 100%;
}

.filler {
    height: 100vh;
    width: 100vw;
    border-bottom: 1px solid black;
}

.background_triangle{
    position: absolute;
}

.scrollblock{
    
}

#largeTriangle1{
    right: 0;
    top: 400px;
}

#mediumTriangle1{
    right: 300px;
    top: 400px;
}

#smallTriangle1{
    right: 0;
    top: 800px;
}
#smallTriangle2{
    right: 200px;
    top: 700px;
}